
//General Classes

// Palettes
.light-font {
    color: $font1;
}

.gray-font {
    color: #9696A0;
}

.dark-font {
    color: $font2;
}

.subtitle-font {
    color: $sub-title-font;
}

.btn-bg-color {
    font-size:0.8rem;
    background-color: $btn-dark-color;
    color:white;
}

// Fonts
.serif-bold {
    font-family: 'SourceSerif-Bold', sans-serif;
}

.serif-regular {
    font-family: 'SourceSerif-Regular', sans-serif;
}

.serif-semibold {
    font-family: 'SourceSerif-Semibold', sans-serif;
}

// Components 

.bakery-btn {
    max-width:fit-content;
    &:hover {
        cursor: pointer;
    }
}

.btn-fixed {
    background-color: white;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    min-width:60px;
}

.small-title {
    font-size:0.55rem;
    word-spacing:5px;
    letter-spacing:1px;
}