
//General Classes

// Palettes
.light-font {
    color: $font1;
}

.dark-font {
    color: $font2;
}

.subtitle-font {
    color: $sub-title-font;
}

.btn-bg-color {
    color: $btn-dark-color;
}

// Fonts
.serif-bold {
    font-family: 'SourceSerif-Bold', sans-serif;
}

.serif-regular {
    font-family: 'SourceSerif-Regular', sans-serif;
}

.serif-semibold {
    font-family: 'SourceSerif-Semibold', sans-serif;
}

// Components 

.bakery-btn {
    max-width:fit-content;
    &:hover {
        cursor: pointer;
    }
}