#hover-wedding {
    transition:1s all;
}

#hover-wedding {
    position:absolute;
    background-image: url("../assets/images/wedding-bg.jpg");
    background-size: cover;
    opacity:1;
    top:0;
    left:0;
    width:100%;
    height: 100%;
}

.my-col-6 {

    width:calc(50% - 40px);
    &:hover #hover-wedding {
        background-image: url('../assets/images/wedding-hover-bg.jpg');
    }

}

.shop-all {
    margin-top:160px;
}


