@import "bootstrap/scss/bootstrap";
@import "@fortawesome/fontawesome-free/css/all.min.css";
@import "/src/assets/scss/variables.scss";
@import "/src/assets/scss/classes.scss";
@import "/src/assets/scss/mixins.scss";


* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

ol, ul, li {
    list-style-type: none;
    &>a{
        text-decoration:none;
        color:black;
    }
}

img {
    max-width: 100%;
}

@font-face {
    font-family: 'SourceSerif-Bold';
    src: url(./assets/fonts/SourceSerifPro-Bold.otf);
}

@font-face {
    font-family: 'SourceSerif-Regular';
    src: url(./assets/fonts/SourceSerifPro-Regular.otf);
}

@font-face {
    font-family: 'SourceSerif-Semibold';
    src: url(./assets/fonts/SourceSerifPro-Semibold.otf);
}